{%- assign game = include.game -%}
<div class="game-card">
    <div class="game-cover" style="background-image: url({{game.image}});"></div>
    <div class="game-info">
        <div class="game-title">{{game.title}}</div>
        <div class="game-description">{{game.description}}</div>
    </div>
    <div class="game-footer">
        <div class="game-platforms">{%- for platform in game.platforms -%}<i aria-hidden="true" class="{{platform}}"></i>{%- endfor -%}</div><div class="game-price">{{game.price}}</div><a class="game-play" href="{{game.url}}" target="_blank" style="background:{{game.button_color}};"><i aria-hidden="true" class="{{game.host}}"></i> {{game.button}}</a>
    </div>
</div>