// Sharing buttons
.btn--x-twitter {
  background-color: #0c0c0d;
  color: #fff;

  &:visited {
    background-color: #0c0c0d;
    color: #fff;
  }

  &:hover {
    background-color: #18181a;
    color: #fff;
  }
}
