---
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Sharing buttons
.btn--x-twitter {
  background-color: #0c0c0d;
  color: #fff;

  &:visited {
    background-color: #0c0c0d;
    color: #fff;
  }

  &:hover {
    background-color: #18181a;
    color: #fff;
  }
}

// Game cards
.game-card {
  border: 1px #5b6780 solid;
  border-radius: 5px;
  background-color: #40485a;
  height: 167px;
  overflow: hidden;

  .game-cover {
    float: left;
    box-shadow: 0px 0px 10px #0006;
    height: 167px;
    width: 210px;
    background-size: cover;
    background-position: center;
  }

  .game-info {
    margin-left: 240px;
  }

  .game-title {
    margin-top: 12px;
    font-size: 32px;
    font-weight: bold;
    margin-top: 12px;
  }
}
