---
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Sharing buttons
.btn--x-twitter {
  background-color: #0c0c0d;
  color: #fff;

  &:visited {
    background-color: #0c0c0d;
    color: #fff;
  }

  &:hover {
    background-color: #18181a;
    color: #fff;
  }
}

// Game cards
.game-card {
  border: 1px #5b6780 solid;
  border-radius: 5px;
  background-color: #40485a;
  height: 167px;
  overflow: hidden;

  @media (max-width: 480px) {
    height: 125px;
  }

  .game-cover {
    float: left;
    box-shadow: 0px 0px 10px #0006;
    height: 167px;
    width: 210px;
    background-size: cover;
    background-position: center;

    @media (max-width: 480px) {
      height: 125px;
      width: 157px;
    }
  }

  .game-info {
    margin-left: 230px;
    height: 125px;
    overflow: auto;
    margin-right: 12px;

    @media (max-width: 480px) {
      margin-left: 172px;
      height: 85px;
    }
  }

  .game-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 12px;

    @media (max-width: 480px) {
      height: 72px;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .game-description {
    font-size: 14px;

    @media (max-width: 480px) {
      display: none;
    }

    @media (min-width: 48em) {
      font-size: 16px;
    }

    @media (min-width: 64em) {
      font-size: 18px;
    }

    @media (min-width: 80em) {
      font-size: 18px;
    }
  }

  .game-footer {
    height: 40px;
    text-align: right;
    white-space: nowrap;
    display: flex;
    justify-content: flex-end;
    padding: 0 0 0 15px;

    .game-platforms {
      vertical-align: middle;
      display: inline-block;
      font-size: 14px;
      padding-right: 2px;
      letter-spacing: 12px;
      color: #acc2f2;
      overflow: hidden;
      line-height: 32px;

      @media (max-width: 480px) {
        display: none;
      }
    }

    .game-price {
      height: 32px;
      line-height: 30px;
      display: inline-block;
      border: 1px #343c4c solid;
      background: #1a1e26;
      font-size: 14px;
      color: #fff;
      border-radius: 5px 0 0 5px;
      margin: 0;
      padding: 0 12px;
      box-sizing: border-box;
      text-anchor: start;
      vertical-align: middle;
      border-right: 0;
    }

    .game-play {
      height: 32px;
      line-height: 30px;
      display: inline-block;
      font-size: 18px;
      border-radius: 0 5px 5px 0;
      margin: 0 10px 0 0;
      border: 1px #fff4 solid;
      background: #fa5c5c;
      color: #fffd;
      padding: 0px 18px;
      text-decoration: none;
      box-sizing: border-box;
      vertical-align: middle;
      transition: filter 0.2s;
      font-weight: bold;
      text-shadow: 1px 1px 2px #0005;
      border-left: 0;

      &:hover {
        filter: brightness(1.2);
      }

      &:focus {
        outline: none !important;
      }
    }
  }
}

.stuff-list {
  max-height: calc(100vh - 8em);
  overflow: auto;
  padding-right: 10px;

  @media (max-width: 48em) {
    display: none;
  }
}

.stuff-item {
  font-size: 0.75em;
  border-radius: 5px;
  margin-bottom: 1em;

  .stuff-link {
    font-weight: bold;
  }
}

.sidebar > *:last-child {
  margin-top: 1em;
  margin-bottom: 0em;
}

.archive__item-title {
  margin-top: 1em;
}
