---
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Sharing buttons
.btn--x-twitter {
  background-color: #0c0c0d;
  color: #fff;

  &:visited {
    background-color: #0c0c0d;
    color: #fff;
  }

  &:hover {
    background-color: #18181a;
    color: #fff;
  }
}

// Game cards
.game-card {
  border: 1px #5b6780 solid;
  border-radius: 5px;
  background-color: #40485a;
  height: 167px;
  overflow: hidden;

  .game-cover {
    float: left;
    box-shadow: 0px 0px 10px #0006;
    height: 167px;
    width: 210px;
    background-size: cover;
    background-position: center;
  }

  .game-info {
    margin-left: 230px;
    height: 125px;
    overflow: auto;
  }

  .game-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 12px;
  }

  .game-description {
    font-size: 18px;

    @media (min-width: 80em) {
      font-size: 16px;
    }

    @media (min-width: 64em) {
      font-size: 15px;
    }

    @media (min-width: 48em) {
      font-size: 14px;
    }
  }

  .game-footer {
    height: 40px;
    text-align: right;

    .game-price {
      height: 32px;
      line-height: 32px;
      display: inline-block;
      border: #252a34;
      background: #1a1e26;
      font-size: 14px;
      color: #fff;
      border-radius: 5px 0 0 5px;
    }

    .game-play {
      height: 32px;
      line-height: 32px;
      display: inline-block;
      font-size: 18px;
      border-radius: 0 5px 5px 0;
      margin: 0 0 0 10px;
      border: #ffffffdd;
      background: #63981d;
      color: #fffd;
    }
  }
}
