---
layout: archive
classes: ""
---

<!-- <aside class="sidebar__right sticky">
  <h3 class="archive__subtitle">Stuff</h3>
</aside> -->

<h3 class="archive__subtitle">My Game<a href="https://tsfreddie.itch.io/" style="float:right;font-size:0.8em;">More</a></h3>
{%- for game in site.data.links["games"] -%}
  {% include game-card.html game=game %}
{%- endfor -%}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}